<div>
  <div class="overscroll-auto" style=" height: auto; width: auto; margin: 30px;">
    <div class="text-left">
      <div class="container-main img-magnifier-container">
        <div> <img id="myimage" class="rounded-sm" width="600" height="400" [src]="selectedItem?.image"
            alt="Can't display">
        </div>
        <div class="text-left bg-white-300" style="line-height: 1.5em;">
          <div style="padding-bottom: 18px; font-size: xx-large;"> <span
              class="text-pink-900">{{selectedItem?.name }}</span></div>
          <div> <span class="text-green-900 font-serif">{{selectedItem?.price}}€</span></div>
          <div *ngIf="selectedItem?.discount"> <span
              class="px-1 text-center font-serif text-white rounded bg-rose-600">{{selectedItem?.discount}}%</span>
          </div>
          <div> Availabile to buy <span class="text-green-900 font-serif">{{selectedItem?.availability}}</span></div>
          <div> ID <span class="text-green-900 font-serif">{{selectedItem?.id }}</span></div>
          <div> Weight <span class="text-green-900 font-serif">{{selectedItem?.weight}}</span></div>
          <div> Color <span class="text-green-900 font-serif">{{selectedItem?.color}}</span></div>
          <div> produced year <span class="text-green-900 font-serif">{{selectedItem?.producedYear}}</span></div>
          <div *ngIf="selectedItem?.waranty"> <span class="text-gray-600 font-serif text-md">Guarantee of product
              authenticity and health</span>
            <mat-icon class="text-gray-800">verified_user</mat-icon>
          </div>
          <br>
          <button (click)="addToOrder(selectedItem)" type="button" class="text-slate-600 bg-slate-100 text-sm border border-slate-400 
                   duration-200 ease-in-out rounded-sm cursor-pointer p-1
                   leading-8 hover:border-slate-900 hover:bg-green-700 hover:text-white cursor-pointer">
            Add to order </button>
          <button [routerLink]="'/promotions'" [queryParams]="{ id: selectedItem?.id }" (click)="back()" type="button"
            class="text-slate-600 bg-slate-100 text-sm border border-slate-400 
                   duration-200 ease-in-out rounded-sm cursor-pointer p-1 ml-1
                   leading-8 hover:border-slate-900 hover:bg-rose-700 hover:text-white"> Back </button>
        </div>
        <div style="padding-left: 150px;" class="text-gray-600 bg-gray-50">
          <h1>Description</h1>
          <div class="font-serif">{{selectedItem?.describtion}}
          </div>
        </div>
      </div>
    </div>
    <hr>
  </div>
</div>
