<div>
  <h1 style="text-align: center;" *ngIf="orderedItems.length >= 1"> Your orders</h1>

  <div *ngFor="let item of orderedItems" style="overflow: auto; height: auto; width: auto; margin: 30px;">
    <div style="text-align: left;">
      <div class="container-main">
        <div> <img class="rounded-sm" style="height:300px;" width="300px" [src]="item?.product?.image"
            alt="Can't display"></div>
        <div style="text-align: left; line-height: 1.5em;">
          <div style="padding-bottom: 18px; font-size: xx-large;"> <span
              class="text-pink-900">{{item?.product?.name }}</span></div>
          <div> Price: <span class="text-green-900">{{item?.product?.price}}</span></div>
          <div> Availabile: <span class="text-green-900">{{item?.product?.availability}}</span></div>
          <div> ID: <span class="text-green-900">{{item?.product?.id }}</span></div>
          <div> Weight: <span class="text-green-900">{{item?.product?.weight}}</span></div>
          <div> Color: <span class="text-green-900">{{item?.product?.color}}</span></div>
          <div> produced year: <span class="text-green-900">{{item?.product?.producedYear}}</span></div>
          <div> Waranty: <span class="text-green-900">{{item?.product?.waranty}}</span></div>
          <div> Ordered quantity: <span
              style="border: 1px solid; padding: 1px 5px; border-radius: 0.1em; background-color: white;"
              class="text-rose-600 text-xl">{{item?.quantity}}</span></div>
          <br>
          <button type="button" class="text-slate-600 bg-slate-100 text-sm border border-slate-400 
                 duration-200 ease-in-out rounded-sm cursor-pointer p-1
                 leading-8 hover:border-slate-900 hover:bg-green-700 hover:text-white cursor-pointer">
            Go to payment </button>
          <button type="button" (click)="cancelItem(item.product.id)" class="text-slate-600 bg-slate-100 text-sm border border-slate-400 
                 duration-200 ease-in-out rounded-sm cursor-pointer p-1 ml-1
                 leading-8 hover:border-slate-900 hover:bg-rose-700 hover:text-white"> Cancel Item</button>
        </div>
        <div></div>
        <div style="padding-left: 150px;" class="text-black">
          <h1>About this item:</h1>
          <div>{{item.product.describtion}}
          </div>
        </div>

      </div>
    </div>
    <hr>
  </div>
</div>
<div style=" height: 300px;" *ngIf="orderedItems.length < 1" class="text-center">
  <h1 style="text-align: center; color: red;"> You have no orders yet</h1>
  <mat-icon style="font-size: 50px; text-align: center;"
    class="hover:text-gray-900 text-gray-600 cursor-pointer hover:duration-300 ease-in-out hover:text-blue-800">
    shopping_cart
  </mat-icon>
</div>
