.container-main {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  // background-color: #f8f8f87a;
  background-color: white;
  padding: 10px;
  border: 1px solid rgba(243, 243, 243, 0.547);
  box-shadow: 2px 10px 5px 10px rgb(240, 240, 240);
}

.container-main>div {
  text-align: center;
  font-size: 17px;
  padding: 30px;
}

.increment:hover {
  background-color: green;
  color: white;
  cursor: pointer;
}

.decrement:hover {
  background-color: red;
  color: white;
  cursor: pointer;
}

.decrement {
  margin-left: 5px;
}

.noOrders {
  background-color: #f4f4f4;
  border: 1px solid gray;
  padding: 20px;
}

.positioning {
  position: fixed;
  top: 170px;
  right: 30px;
}
