.mainDiv {
  position: relative;
}

.mainDiv span {
  position: relative;
  bottom: 55px;
  right: 25%;
  background-color: rgb(183, 183, 189);
  color: white;
  border-radius: 2em;
  padding: 15px 15px 2px 19px;
}
