<div class="digi-flex-continer">
  <div *ngFor="let jet of jetMarketOptions;let i = index">
    <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center;">
      <img [src]="jet.imageUrl" alt="something">
      <p> {{jet.name}}</p>
    </div>
  </div>
</div>
<br>
<div class="recommendations-maindiv">
  <div class="recommendations-flex-continer">
    <p class="text-center"><img src="../../assets/recommendations.png" alt="can't load">Promotions</p>
    <div> <img src="../../../../assets/body-5.jpg" alt="Picture">Clothes</div>
    <div> <img src="../../../../assets/body-6.jpg" alt="Picture">Clothes</div>
    <div> <img src="../../../../assets/body-11.jpg" alt="Picture">Clothes</div>
    <div> <img src="../../../../assets/body-12.jpg" alt="Picture">Clothes</div>
    <div> <img src="../../../../assets/body-13.jpg" alt="Picture">Clothes</div>
    <div> <img src="../../../../assets/body-14.jpg" alt="Picture">Digi mehr</div>
    <div> <img src="../../../../assets/body-15.jpg" alt="Picture">Clothes</div>
  </div>
</div><br><br>
<div class="thrid-body">
  <div> <img src="../../../../assets/second-body-1.jpg" alt="Picture"></div>
  <div> <img src="../../../../assets/second-body-2.jpg" alt="Picture"></div>
  <div> <img src="../../../../assets/second-body-3.jpg" alt="Picture"></div>
  <div> <img src="../../../../assets/second-body-4.jpg" alt="Picture"></div>
</div>
<br>

<div class="bestSelling">
  <div style="justify-content: center; display: flex;" *ngFor="let bs of bestSellers;let i = index">
    <div style=" display: flex; flex-wrap: wrap; justify-content: center; flex-direction: column;
      align-content: space-around;">
      <img [src]="bs.imageUrl" width="200px" alt="picture">
      <div style="align-content: flex-end;">
        <p> {{bs.name}} </p>
        <p> Available {{bs.availableStock}}</p>
        <p> Price {{bs.price}} </p>
      </div>
    </div>
  </div>
</div>
