<div class="p-2.5 w-full flex flex-wrap text-sm">
  <div class="flex justify-center w-1/5 border p-5 h-96 regal-blue border-inherit hover:shadow-2xl text-center
               hover:border-slate-500 3xl" *ngFor="let bestSeller of bestSellers; let i = index">
    <div (click)="showInDetail()" class="cursor-pointer" [queryParams]="{ id: bestSeller.id }"
      [routerLink]="'/best-seller/best-seller-detail'" class="flex flex-wrap flex-col content-around">
      <img [src]="bestSeller.image" width="150px" style="height: 150px" alt="picture">
      <br>
      <div class="content-end justify-center">
        <p class="text-sky-700"> {{bestSeller.name}} </p>
        <p> Available: <span class="text-lime-900"> {{bestSeller.availability}} </span></p>
        <p> Price: <span class="text-lime-900"> {{bestSeller.price}} </span> </p>
        <p *ngIf="bestSeller.discount"> <span class="px-2 text-white rounded bg-rose-600">
            {{bestSeller.discount}}%</span></p>
        <br>
      </div>
    </div>
  </div>
</div>
