.payment {
  width: 25%;
  height: 73%;
  background-color: rgba(230, 233, 163, 0.455);
  padding: 105px;
  margin: 15px;
  position: fixed;
  top: 15%;
  right: 15%;
  color: black;
  z-index: +1;
}

.close {
  position: fixed;
  right: 17%;
  top: 11%;
  width: 40px;
  height: 40px;
  text-align: center;
  padding-top: 8px;
}

.container-main {
  display: flex;
}

.Item {
  flex-grow: calc(1);
}

.imageDiv {
  flex-grow: calc(3);
}
