<div class="fixed w-full bg-white">
  <div><img class="xx" style="width: 100%;" src="../../assets/header.jpg" alt="picture"></div>
  <div class="flex">
    <label class="bahar-shopping text-lime-900 duration-700 ease-in-out hover:text-orange-800 text-lg relative top-1.5">
      Pangool Shopping
    </label>
    <input class="rounded-lg bg-slate-100 border w-4/12 h-11 pl-6 ml-4 outline-0" type="text" placeholder="Search here">
    <mat-icon style="position: absolute; left:40%; top: 55%;" class="mt-2 c-gray text-slate-500"> search
    </mat-icon>
  </div>
  <hr>
</div>
