.mainDiv {
  width: 100%;
  position: fixed;
  background-color: white;
}

.bahar-shopping {
  font-family: fantasy;
  color: rgb(243, 77, 77);
  font-size: large;
  position: relative;
  left: 1px;
  top: 5px;
  height: 40px;
}

.search {
  border-radius: 0.5em;
  background-color: rgb(243, 243, 243);
  width: 35%;
  height: 45px;
  padding-left: 25px;
  margin-left: 1%;
  justify-content: start;
  align-items: flex-end;
  outline: none;
}
