<div>
  <span class="px-4 py-2 text-center bg-rose-500 rounded-lg text-white">
    {{bestSellingProducts?.label}}<span class="text-lg">%</span></span>
</div>
<div>
  <div class="flex">
    <div class="text-left flex items-center" style="flex: 20px;">
      <button (click)="previousItems()" type="button">
        <span
          class="border border-gray-300 hover:text-black pt-4 pb-4 pl-2 hover:border-slate-500 hover:bg-slate-300 rounded bg-slate-200">
          <mat-icon class="text-gray-600">arrow_back_ios</mat-icon>
        </span>
      </button>
    </div>
    <div class="text-center self-center">
      <div style="display: flex;" class="flex-wrap mb-px rounded-2xl flex-row h-64 p-1.5">
        <div *ngFor="let item of filteredBestSellingProducts" class="flex flex-row text-center
               justify-around ml-3.5 border border-gray-200 rounded mt-2.5" style="width: 10%;">
          <div [routerLink]="['/top-seller-detail']" [queryParams]="{ id: item.id }" (click)="details()"
            class="flex-col cursor-pointer" style=" font-size: small; background-color:rgb(255, 255, 255)">
            <img class="mb-3.5 h-24 rounded-sm" width="150px" [src]="item.image" alt="Can't display">
            <div> <span class="text-blue-900 font-normal">{{item.name }}</span></div>
            <div> <span class="text-black text-lg p-1">{{item.price}}€</span></div>
            <div> Available <span class="text-green-900">{{item.availability}}</span></div><br>
            <div> <span *ngIf="item.discount"
                class="text-white font-serif px-2 text-white rounded bg-rose-600">{{item.discount}}%
                Off</span></div>
            <div *ngIf="item.freeDelivery"> <span class="text-white font-serif px-1 rounded bg-green-600">Free
                <mat-icon class="bg-white-100"> local_shipping</mat-icon></span></div>
          </div>
        </div>
      </div>
    </div>
    <div style="flex: 20px; text-align: end; display: flex; align-items: center;">
      <button type="button" (click)="nextItems()">
        <span
          class="border border-gray-300 hover:text-black pb-4 pt-4 p-1 hover:border-slate-500 hover:bg-slate-300 rounded bg-slate-200">
          <mat-icon class="text-gray-600">arrow_forward_ios</mat-icon>
        </span>
      </button>
    </div>
  </div>
</div>
