<div class="digi-flex-continer">
  <div> <img src="../../../../assets/body-1.png" alt="Picture">Jet free</div>
  <div> <img src="../../../../assets/body-2.png" alt="Picture">digi free</div>
  <div> <img src="../../../../assets/digi-p.png" alt="Picture">digi-p</div>
  <div> <img src="../../../../assets/body-4.jpg" alt="Picture">Remote</div>
  <div> <img src="../../../../assets/body-9.png" alt="Picture">Pen</div>
  <div> <img src="../../../../assets/digi-mehr.png" alt="Picture">Mehr</div>
  <div> <img src="../../../../assets/body-7.png" alt="Picture">Digi+</div>
  <div> <img src="../../../../assets/body-8.png" alt="Picture">Digi Jet</div>
</div>
<br>
<div class="flex-continer">
  <div> <img src="../../../../assets/body-5.jpg" alt="Picture">Clothes</div>
  <div> <img src="../../../../assets/body-6.jpg" alt="Picture">Clothes</div>
  <div> <img src="../../../../assets/body-11.jpg" alt="Picture">Clothes</div>
  <div> <img src="../../../../assets/body-12.jpg" alt="Picture">Clothes</div>
  <div> <img src="../../../../assets/body-13.jpg" alt="Picture">Clothes</div>
  <div> <img src="../../../../assets/body-14.jpg" alt="Picture">Digi mehr</div>
  <div> <img src="../../../../assets/body-15.jpg" alt="Picture">Clothes</div>
</div><br>
<div class="thrid-body">
  <div> <img src="../../../../assets/second-body-1.jpg" alt="Picture"></div>
  <div> <img src="../../../../assets/second-body-2.jpg" alt="Picture"></div>
  <div> <img src="../../../../assets/second-body-3.jpg" alt="Picture"></div>
  <div> <img src="../../../../assets/second-body-4.jpg" alt="Picture"></div>
</div>
