<div class="grid space-around border-4 border-inherit">
  <div class="rounded w-11/12 justify-self-center flex flex-nowrap m-5 text-sm">
    <p class="w-2/12 text-center"><img src="../../assets/recommendations.png" alt="can't load"> </p>

    <div class="w-2/12 text-center  py-1.5 px-1.5 leading-10 border"> <img src="../../../../assets/body-5.jpg"
        alt="Picture">Clothes
    </div>
    <div class="w-2/12 text-center py-1.5 px-1.5 leading-10 border"> <img src="../../../../assets/body-6.jpg"
        alt="Picture">Clothes
    </div>
    <div class="w-2/12 text-center py-1.5 px-1.5 leading-10 border"> <img src="../../../../assets/body-11.jpg"
        alt="Picture">Clothes
    </div>
    <div class="w-2/12 text-center py-1.5 px-1.5 leading-10 border"> <img src="../../../../assets/body-12.jpg"
        alt="Picture">Clothes
    </div>
    <div class="w-2/12 text-center py-1.5 px-1.5 leading-10 border"> <img src="../../../../assets/body-13.jpg"
        alt="Picture">Clothes
    </div>
    <div class="w-2/12 text-center py-1.5 px-1.5 leading-10 border"> <img src="../../../../assets/body-14.jpg"
        alt="Picture">Digi mehr
    </div>
    <div class="w-2/12 text-center py-1.5 px-1.5 leading-10 border"> <img src="../../../../assets/body-15.jpg"
        alt="Picture">Clothes
    </div>
    <div style="display: flex; justify-self: center; justify-items: center; text-align: center;"
      class="w-2/12 py-1.5 px-1.5 leading-10 border">
      <mat-icon>unfold_more</mat-icon>
    </div>
  </div>
</div><br><br>
<div class="flex flex-row ml-52" *ngFor="let parcel of bestSellersParcel">
  <div class="w-1/5 text-center p-4 hover:py-3 hover:px-3 cursor-pointer ease-out duration-300">
    <img alt="" [routerLink]="'/best-seller/best-seller-detail'" [queryParams]="{ id: parcel.id }"
      (click)="showInDetail()" class="rounded-2xl border border-transparent" [src]="parcel.image">
  </div>
</div>
<br>
<app-best-seller-item [bestSellers]="bestSellers"></app-best-seller-item>
