.flex-container {
  display: flex;
  font-size: 15px;
  text-align: center;
  width: 45%;
}

a {
  display: inline-block;
  position: relative;
  color: rgb(107, 107, 107);
  padding: 15px;
  cursor: pointer;
}

a:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: red;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.products {
  color: black;
}

.productsMenu {
  position: fixed;
  top: 0;
  left: 50px;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 0.5em;
  width: 90%;
  height: 580px;
  margin-left: 2%;
  margin-top: 10%;
  background-color: white;
  text-align: left;
  padding: 15px;
}

.products:hover {
  color: red;
}

mat-menu:hover>mat-icon {
  color: red;
}

.productsMenu button+mat-icon:hover {
  color: red;
}

div>button:hover {
  background-color: rgb(0, 0, 149);
  color: white;
}

// mat-icon:hover {
//   color: yellow;
// }
.iconHover:hover {
  color: red;
}

.iconHover:hover>mat-icon {
  color: red;
}


.iconHover:hover>button {
  color: blue;
}

.productsMenu button button:hover {
  color: red;
}
