a {
  display: inline-block;
  position: relative;
  color: rgb(107, 107, 107);
  padding: 15px;
  cursor: pointer;
}

a:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: red;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

a:hover:after {
  transform: scaleX(1);
  transform-origin: left;
  transition: 005;
}

a:hover {
  color: black;
}

.material-icons {
  font-size: medium;
}
