<div>
  <span class="pl-10">
    {{bestSellingProducts?.label}}</span>
</div>
<div>

  <div class="flex">
    <div class="text-left flex items-center" style="flex: 20px;">
      <button (click)="previousItems()" type="button">
        <mat-icon class="text-slate-500 hover:text-black">arrow_back_ios</mat-icon>
      </button>
    </div>

    <div class="text-center self-center">
      <div style="display: flex;" class="flex-wrap mb-px rounded-2xl flex-row h-64 p-1.5">

        <div *ngFor="let item of filteredBestSellingProducts" class="flex flex-row text-center
             justify-around ml-3.5 border rounded-lg mt-2.5" style="width: 10%;">

          <div class="flex-col" style=" font-size: small; background-color:rgb(255, 255, 255)">
            <img class="mb-3.5 h-24 rounded-sm" width="150px" [src]="item.image" alt="Can't display">
            <div> <span class="text-blue-900 font-normal">{{item.name }}</span></div>
            <div> Price: <span class="text-green-900">{{item.price}}</span></div>
            <div> Available: <span class="text-green-900">{{item.availability}}</span></div>

            <a [routerLink]="['detail']" [queryParams]="{ id: item.id }" (click)="details()" class="text-slate-600 bg-slate-100 text-xs border border-slate-400 
               duration-200 ease-in-out rounded-sm cursor-pointer 
               py-1 px-2.5 leading-10 hover:border-slate-900 hover:bg-slate-700 hover:text-white">
              <button class="text-xs" mat-button> Detail </button>
            </a>
            <!-- (click)="openDialog(item.id)" -->

            <div (click)="addToOrder(item)" class="text-slate-600 bg-slate-100 text-xs border border-slate-400 
             duration-200 ease-in-out rounded-sm cursor-pointer 
             leading-8 hover:border-slate-900 hover:bg-slate-700 hover:text-white">
              Add to order
            </div>
          </div>
        </div>

      </div>
    </div>

    <div style="flex: 20px; text-align: end; display: flex; align-items: center;">
      <button type="button" (click)="nextItems()">
        <mat-icon class="text-slate-500 hover:text-black">arrow_forward_ios</mat-icon>
      </button>
    </div>
  </div>

</div>
